*{
    margin: 0;
    padding: 0;
}


body{
    overflow: hidden;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}


i{
    font-size: 70px;
}





.container::after{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100vh;
    background-color: black;
    background-image: url(./5566110.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.content{
    position: relative;
    z-index: 5;
    padding: 30px;
    filter: blur(90px);
}

.content div{
    display: flex;
}


.btn{
    position: absolute;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: white;
    background: linear-gradient(180deg, purple, black);
    border: none;
    padding: 4px;
       
}

.btn i{
    font-size: 35px;
}

.content:hover{
    filter: blur(0px);
    transition: all .5s ease;
}



.text{
    opacity: 0;
    position: absolute;
    
    width: 50%;
    background: linear-gradient(160deg, purple, #333);
    top: 10%;
    min-height:20%;
    color: white;
    font-size: 16px;
    margin: auto;
    padding: 60px 40px;
    transition: all .5s ease;
    line-height: 1.6;
    font-size: 20px;
    text-align: center;
}



.cancel{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
}

.cancel i{
    font-size: 30px;
    padding: 5px;
    background: red;
}


.purple{
    position: absolute;
    top: -50px;
    animation: fall 5s ease;
}


@keyframes fall{
    0%{
        top: -50px;
    }
    100%{
        top: 110vh;
    }
}

@media (max-width:350px){

    body{
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }


    .content{
        font-size: 20px;
        padding: 20px;
    }

    i{
        font-size: 50px;
    }
    
    .container::after{
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 100%;
        background-image: url(./5566110.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .btn{
        font-size: 22px;
    }
    .btn i{
        font-size: 22px;
    }
}

@media (max-width:550px){
    body{
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }

    .text{
        padding: 30px 20px;
    }
    .content{
        font-size: 20px;
        padding: 20px;
    }
    i{
        font-size: 50px;
    }
    .btn{
        font-size: 22px;
    }
    .btn i{
        font-size: 22px;
    }
}